name: Build

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup .Net
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      
      - name: Clean .Net & Nuget Cache on Windows
        run: dotnet clean
        if: ${{ matrix.os == 'windows-latest' }}
        
      - name: Restore dependencies
        run: dotnet restore
            
      - name: Build
        run: dotnet build --no-restore
            
      - name: Run tests
        run: dotnet test --no-build
