name: Build & Test

on: [push]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: UbuntuBuild
        path: .


  build-windows:
    
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: WindowsBuild
        path: .
 
 
  build-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: MacOSBuild
        path: .


  test-ubuntu:
    
    runs-on: ubuntu-latest
    needs: build-ubuntu
    
    steps:
    - name: Download built results
      uses: actions/download-artifact@v2
      with:
        name: UbuntuBuild
  
  
  test-windows:
  
    runs-on: windows-latest
    needs: build-windows
    
    steps:
    - name: Download built results
      uses: actions/download-artifact@v2
      with:
        name: WindowsBuild
  
  
  test-macos:
  
    runs-on: macos-latest
    needs: build-macos
    
    steps:
    - name: Download built results
      uses: actions/download-artifact@v2
      with:
        name: MacOSBuild
