name: Build

on: [push]

jobs:
  ubuntu:

    runs-on: ubuntu-latest
    if: ${{ ! contains(github.event.head_commit.message, '?SKIP-ACTIONS') }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run tests
      run: dotnet test --no-build normal


  windows:
    
    runs-on: windows-latest
    if: ${{ ! contains(github.event.head_commit.message, '?SKIP-ACTIONS') }}
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run tests
      run: dotnet test --no-build normal
 
 
  macos:

    runs-on: macos-latest
    if: ${{ ! contains(github.event.head_commit.message, '?SKIP-ACTIONS') }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run tests
      run: dotnet test --no-build normal