name: Code Coverage

on:
  push:
    branches-ignore: [ docs/* ]
  pull_request:
    branches-ignore: [ docs/* ]
  
jobs:
  code-coverage-beta:
    
    runs-on: ubuntu-latest
    env:
      CODECOV_UPLOAD_TOKEN: 3b2af18f-3772-424a-8c52-e6bdcd6e564c
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore Packages
      run: dotnet restore
    - name: Add Coverlet.MSBuild package for testing
      run: dotnet add ./Settings.Net.Tests/Settings.Net.Tests.csproj package coverlet.msbuild
    - name: Run tests
      run: dotnet msbuild /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput:\"./Code-Cov.xml\"
    - name: Download report upload script
      run: curl -s https://codecov.io/bash > codecov
    - name: Add execution permission
      run: chmod +x codecov
    - name: Upload report
      run: ./codecov -f 'Code-Cov.xml' -t $CODECOV_UPLOAD_TOKEN
